.App {
  display: flex;
  flex-direction: column;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-wrapper {
  display: flex;
  height: 100vh;
}

.image {
  position: relative;
  object-fit: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

body {
  margin: 0px;
}

.text {
  font-size: 50px;
  position: absolute;
  text-align: center;
  color: aliceblue;
}

.logo{
  height: 50px;
  width: 50px;
  position: relative;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.data {
  color: aliceblue;
}

@media only screen and (max-width: 650px) {
 body {
  margin: 0px;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
}

.data{
  display: none;
 } 
}